.regist_form {
    position: absolute;
    background-color: #f5f5f5;
    width: 50%;
    padding: 24px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 16px;
    overflow-y: auto;
    max-height: 100%;
}

.action_btn_signUp,
.action_btn_loginAndForgot {
    text-align: center;
}

.login_form_button {
    margin-right: 10px;
}

@media screen and (max-width: 600px) {
    .regist_form {
        width: 100%;
    }
}
