.wrapper {
    margin: 24px 16px 0;
}

.content {
    padding: 24px;
    min-height: 360px;
    background-color: #fff;
    height: 100%;
    overflow-y: auto;
}
.logout {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.logout label {
    cursor: pointer;
}
.logout label span {
    padding-right: 10px;
    padding-bottom: 10px;
}
