.layout {
    background: #fff !important;
    width: 100%;
    overflow-x: hidden;
}

.layout_content {
    height: calc(100vh - 46px);
    background-color: #fff;
}

.content {
    position: relative;
    padding: 12px;
}
