<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Email Template</title>
        <style>
            body {
                font-family: Arial, sans-serif;
                background-color: #f4f4f4;
                margin: 0;
                padding: 0;
            }

            .container {
                max-width: 600px;
                margin: 20px auto;
                background-color: #fff;
                padding: 20px;
                border-radius: 5px;
                box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            }

            h1 {
                color: #333;
            }

            p {
                color: #555;
            }

            .cta-button {
                display: inline-block;
                padding: 10px 20px;
                background-color: #007bff;
                color: #fff;
                text-decoration: none;
                border-radius: 3px;
            }

            .footer {
                margin-top: 20px;
                color: #777;
            }
        </style>
    </head>
    <body>
        <div class="container">
            <h3>Hóa đơn {{memoId}} đã được thanh toán bởi {{debtorName}}!</h1>
            <p>
                Hãy kiểm tra tài khoản <strong>{{payBank}}</strong> với số tiền
                <strong>{{payAmount}} VND</strong> xem được thanh toán hay chưa?
            </p>
            <!-- <a href="{{activationLink}}" class="cta-button"
                >Activate Your Account</a
            > -->
        </div>

        <div class="container footer">
            <p>
                Nếu chưa được thanh toán chuyển trạng thái
                <strong>"Chưa thanh toán"</strong>, ngược lại chuyển trạng thái
                <strong>"Đã thanh toán"</strong>.
            </p>
        </div>
    </body>
</html>
