<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Email Template</title>
        <style>
            body {
                font-family: Arial, sans-serif;
                background-color: #f4f4f4;
                margin: 0;
                padding: 0;
            }

            .container {
                max-width: 600px;
                margin: 20px auto;
                background-color: #fff;
                padding: 20px;
                border-radius: 5px;
                box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            }

            h1 {
                color: #333;
            }

            p {
                color: #555;
            }

            .cta-button {
                display: inline-block;
                padding: 10px 20px;
                background-color: #007bff;
                color: #fff;
                text-decoration: none;
                border-radius: 3px;
            }

            .footer {
                margin-top: 20px;
                color: #777;
            }
        </style>
    </head>
    <body>
        <div class="container">
            <p>Thân gửi, {{full_name}}</p>
            <p>
                Bạn vừa tạo thành công <strong>[{{title_plan}}]</strong> trên hệ
                thống kojin, <br />
                <br />
                Với thông tin như sau: <br />
                <br />
                1. Tên kế hoạch: {{title_plan}} <br />
                <br />
                2. Ngày thực hiện: {{date_start}} <br />
                <br />
                3. Kế hoạch chi tiết: {{{plan_detail}}} <br />
                4. Kiểu thực hiện: {{type_action}} <br />
                <br />
                5. Chu kỳ thực hiện lặp lại: {{type_cycle}} <br />
                <br />
                6. Thời gian lặp lại: {{time_cycle}}
            </p>
            <br />
            <p>
                Hệ thống sẽ gửi thông báo qua telegram khi đến ngày thực hiện.
                <br />
                Cảm ơn bạn đã sử dụng dịch vụ.
            </p>
        </div>

        <div class="container footer">
            <p>
                Nếu như có vấn đề hoặc thắc mắc bạn có thể liên hệ với admin qua
                {{email_admin}}
            </p>
        </div>
    </body>
</html>
