.table_wrapper {
    overflow-x: auto;
}
#table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid #ddd;
}
#table #tbody {
    text-align: center;
}
#table thead tr:first-child,
#table tr:nth-child(even) {
    background-color: #f2f2f2;
}
#table thead {
    border-bottom: 1px solid #ddd;
}
#table th {
    padding: 15px;
}
#table td {
    padding: 10px;
}
#table td:last-child a:first-child {
    margin-right: 10px;
}
.paginate {
    display: flex;
    margin-top: 10px;
    gap: 10px;
    align-items: center;
}
.paginate .paginate_input_page input {
    width: 25px;
    height: 25px;
    text-align: center;
}
.justify_center {
    justify-content: center;
}
.justify_start {
    justify-content: flex-start;
}
.justify_end {
    justify-content: flex-end;
}
.disabled {
    pointer-events: none;
    user-select: none;
}
.disabled > * {
    color: black;
    opacity: 0.5;
}
.btn {
    padding: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 14px;
    border-radius: 6px;
    border: 1px solid transparent;
    cursor: pointer;
}
.btn_primary {
    background-color: #1677ff;
    color: #fff;
    box-shadow: 0 2px 0 rgba(5, 145, 255, 0.1);
}
.btn_right,
.label {
    float: right;
    clear: both;
}
.input {
    width: 100%;
    margin-top: 5px;
    padding: 8px;
    border-radius: 6px;
    border: 1px solid rgba(0, 0, 0, 0.14);
}
