.menu_footer {
    position: absolute;
    bottom: 0;
    color: #fff;
    width: 100%;
    padding: 16px;
    font-size: 16px;
    display: flex;
    line-height: 1.2;
    justify-content: flex-end;
    align-items: center;
}

.menu_footer label {
    cursor: pointer;
    user-select: none;
}

.menu_footer label > span {
    margin-right: 8px;
}
