.login_form {
    position: absolute;
    background-color: #f5f5f5;
    width: 50%;
    padding: 24px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 16px;
}


.action_btn_signIn,
.action_btn_registAndForgot {
    text-align: center;
}

.register_form_button {
    margin-right: 10px;
}

@media screen and (max-width: 600px) {
    .login_form {
        width: 100%;
    }
}

