.wrapper_button {
    display: flex;
    gap: 10px;
    font-size: 14px;
    line-height: 1.25;
}

.wrapper_button button {
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 6px;
    border: 1px solid transparent;
    cursor: pointer;
}

.justify_center_button {
    justify-content: center;
}
.justify_left_button {
    justify-content: flex-start;
}
.justify_right_button {
    justify-content: flex-end;
}
.form_group {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 8px;
}
.form_group:last-child {
    margin-bottom: auto;
}
.form_group input,
.form_group select,
.form_group textarea {
    width: 100%;
    margin-top: 5px;
    padding: 8px;
    border-radius: 6px;
    border: 1px solid rgba(0, 0, 0, 0.14);
}
