/* header */
.wrapper {
    text-align: center;
}
.preview_img_wrapper,
.preview_img_btn {
    margin-top: 15px;
}
.user_avatar,
.preview_img {
    border-radius: 50%;
    height: 100px !important;
    object-fit: cover;
}
.img_blur{
    filter: blur(3px);
}
