* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html,
body {
    max-width: 100vw;
    overflow-x: hidden;
}

#app {
    height: 100vh;
}

.position-center {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.hidden {
    visibility: hidden;
    opacity: 0;
}

.hide {
    display: none;
    visibility: hidden;
    opacity: 0;
}

.disabled {
    pointer-events: none;
    user-select: none;
    opacity: 0.5;
}
.disabled > * {
    color: black;
    opacity: 0.5;
}

/* display */
.justify_center {
    justify-content: center;
}
.justify_start {
    justify-content: flex-start;
}
.justify_end {
    justify-content: flex-end;
}

/* button */
.btn {
    padding: 10px;
    margin-bottom: 15px;
    font-size: 14px;
    border-radius: 6px;
    border: 1px solid transparent;
    cursor: pointer;
}
.btn_primary {
    background-color: #1677ff;
    color: #fff;
    box-shadow: 0 2px 0 rgba(5, 145, 255, 0.1);
}
/* ======================== */
.wrapper-not-found {
    position: relative;
    left: 50%;
    top: 35%;
    transform: translate(-50%, -35%);
    text-align: center;
}

.next-error-h1 {
    border-right: 1px solid rgba(0, 0, 0, 0.3);
}

.next-error-custom {
    display: inline-block;
    margin: 0px 20px 0px 0px;
    padding: 0px 23px 0px 0px;
    font-size: 24px;
    font-weight: 500;
    vertical-align: top;
    line-height: 49px;
}

.next-error-content {
    font-size: 14px;
    font-weight: 400;
    line-height: 30px;
    margin: 0px;
}

.label_required .label_start,
.error_display {
    color: red;
}

button:disabled {
    opacity: 0.5 !important;
}
@media (prefers-color-scheme: dark) {
    .next-error-h1 {
        border-right: 1px solid rgba(42, 42, 42, 0.3);
    }
}
