.full-name,
.amount,
.payment_in_progress {
    text-align: center;
}

.payment_in_progress {
    font-weight: 500 !important;
    color: blue !important;
}

.btn_pay {
    text-align: center;
    padding-bottom: 10px;
    width: 100%;
}
.bank_selected {
    display: block;
    width: 100%;
}
.select_qr {
    margin-top: 5px;
}
.radio_select_qr {
    text-transform: capitalize;
}
.img_qr_wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
}
.img_qr {
    width: auto;
    height: 350px;
    border: 1px solid #c4c0c0;
    object-fit: cover;
}
.info_bank p {
    font-weight: 500;
    line-height: 1.2;
}
.info_bank p:last-child {
    font-size: 18px;
    font-weight: 700;
}
.img_qr {
    border: 1px solid #000;
}
