.btn_memo_import,
.btn_template_export {
    display: none;
    margin-left: 5px;
}

.btn_memo_detail ~ .btn_memo_import,
.btn_memo_detail ~ .btn_template_export {
    display: inline-flex;
    margin-right: 5px;
    padding-top: 10px;
}

.used_qr{
    margin-right: 10px;
}
